<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wispcss/wisp-css@0.5.2/dist/wisp.min.css">
        <style>
            body {
                background-color: #1b1b1f;
            }
        </style>
    </head>
    <body class="o-container">
        <div class="c-card c-card--rounded u-color-neutral" style="width:413px">
			<img class="c-card__image" src="https://placehold.co/413x120/555555/ffffff" alt="Cat">
			<div class="c-card__body">
				<p>
					Lorem ipsum dolor sit amet consectetur adipiscing elit. 
				</p>
 				<p>
					<button class="c-button">Action</button>
				</p>
			</div>
		</div>
    </body>
</html>