<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wispcss/wisp-css@0.5.0/dist/wisp.min.css">
        <style>
            body {
                color: #fff;
                background-color: #1b1b1f;
            }
        </style>
    </head>
    <body class="o-container">
        <table class="c-table">
            <thead>
                <tr>
                    <th>Head 1</th>
                    <th>Head 2</th>
                    <th>Head 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 3</td>
                </tr>
                <tr>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 3</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>